/*
RESET
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
/*    outline: 1px solid lime;*/
}

/* 
GENERAL STYLING
*/

body {
    padding: 1em;
    background-color: #d9dfe2;
    height: 100vh;
    font-family: system-ui;
}

main {
    display: grid;
    grid-template-columns: 1fr 16em;
    grid-template-rows: 1fr min-content min-content min-content;
    gap: 1em;
    height: 100%;
}

h1 {
    margin: 1em;
    padding: 0;
    margin: 0;
    height: fit-content;
}

h3 {
    font-size: 1em;
    font-family: system-ui;
    margin-bottom: 0.25em;
    margin-top: 0;
}

h3:nth-of-type(2),
h3:nth-of-type(3) {
    margin-top: 2rem;
}

label,
button {
    padding: 0.5em;
    border-radius: 0.75rem;
}

button {
    font: inherit;
    --background-color: #0075ff;
/*    background-color: var(--background-color);*/
    background-color: color-mix(in srgb, var(--background-color), #ffffff 0%);
    color: white;
    border: none;
    width: fit-content;
    padding: .5em 1em;
    cursor: pointer;
    transition: 100ms;
    text-wrap: nowrap;

    &:focus-visible {
        outline: 2px solid orange;
        outline-offset: 2px;
    }

    &:hover,
    &:focus-visible {
        box-shadow: 0 0 2px 1px #0009;
        background-color: color-mix(in srgb, var(--background-color), #ffffff 30%);
    }

    &:active {
        box-shadow: inset 0 0 3px 1px #0009;
        background-color: color-mix(in srgb, var(--background-color), #000000 30%);
    }
}

/* Only for screenreaders */
.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.label-with-icon {
    display: flex;
    align-items: center;
}

.label-with-icon img {
    width: 24px; /* Adjust size as needed */
    height: 24px; /* Adjust size as needed */
}

p span {
    color: #0075ff;
    font-weight: 700;
}

/*
HEADER STYLES
*/

body > header {
    position: absolute;
    display: flex;
    align-items: center;
    height: fit-content;
    gap: 1em;
    z-index: 12;
    transition: 200ms;
    &:hover {
        opacity: 0;
        filter: alpha(opacity=0);
        z-index: 12;
    }
    & h1 {
        order: 1;
        font-size: 1.4em;
        height: fit-content;
        user-select: none;
    }
    & .logo {
        height: 100%;
    }
}

/*
CANVAS STYLES
*/

.canvas-container {
    width: 100%;
    height: 100%;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/4;
    overflow: auto;
    cursor: url("./../images/Select-cursor.png") 7 7, default;
}

canvas {
    height: 100%;
    position: relative;
    margin: 0 auto;
    display: block;
}

.node-popover {
    z-index: 99;
    position: absolute;
    width: fit-content;
    height: fit-content;
    border-radius: 12px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 48px 1fr;
    padding: 12px 16px 12px 12px;
    gap: 8px;
    background-color: white;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px;
    border: none;

    & img {
        width: 48px;
        aspect-ratio: 1;
        border-radius: 50%;
        border: solid black 1px;
        grid-row: 1/3;
        grid-column: 1/2;
    }

    & p:nth-of-type(1) {
        font-weight: 700;
    }

    & p {
        display: flex;
        gap: 8px;
    }

    & p span:nth-of-type(2) {
        overflow: hidden;
        width: 4px;
        height: 4px;
        display: block;
        border-radius: 50%;
        border: black solid 2px;
        align-self: center;
    }
}

.forwardButton {
    border: none;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 2.5rem;
    transform: translate(-50%, calc(-100% - 10px));
    transition: transform 0.3s ease;

    &:hover {
        transform: translate(-50%, calc(-100% - 10px - .5em));
    }

    & img {
        width: 2rem;
        filter: invert(1);
    }

    &::after {
        content: "";
        position: absolute;
        bottom: -10px;
        left: 50%;
        transform: translateX(-50%);
        width: 20px;
        height: 10px;
        background-color: inherit;
        clip-path: polygon(50% 100%, 0 0, 100% 0);
        transition: transform 0.3s ease;
    }
}

.hide {
    display: none;
}

/* 
TOOLBAR STYLES
*/

.top-bar {
    display: flex;
    flex-direction: row;
    height: 100%;
    overflow: auto;
    column-width: 340px;
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    align-items: end;
}

.toolbar {
    display: flex;
    flex-direction: row;
    padding-inline: 1em;
    padding-block: 0.5em;
    background-color: white;
    border-radius: 0.75rem;
    top: 0;
    gap: 0.75em;
    justify-content: start;
}

.vertical-line {
    width: 2px;
    background-color: #d3d3d3;
    align-self: stretch;
    border-radius: 2px;
}

.tools {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}


/*
SPECIAL INPUTS
*/

.counter-input {
    display: flex;
    gap: 0.25em;
    align-items: center;
    border-radius: 999em;
    width: fit-content;

    & input {
        display: block;
        border: none;
        font-weight: 700;
        font-size: 1em;
        text-align: center;
        color: #0075ff;
        outline: none;
    }

    & input::-webkit-outer-spin-button,
    & input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    & button {
        --background-color: #c3c3c3;
        color: #000000;
        margin: 0;
        padding: 0;
        display: block;
        width: 1.2em;
        height: 1.2em;
        display: grid;
        place-items: center;
        line-height: 1;
    }

    &:has(:focus-visible) {
        outline: 2px solid orange;
        outline-offset: 2px;
    }
}

.select {
    border: 2px solid #0075ff;
    border-radius: .75em;
    display: block;
    position: relative;
    overflow: hidden;

    &:has(:focus-visible) {
        outline: 2px solid orange;
    }
    

    & select {
        font: inherit;
        padding-block: .25em;
        padding-inline-start: .5em;
        padding-inline-end: 2em;
        appearance: none;
        border: none;
        outline: none;
        width: 100%;
    }

    &::after {
        content: url('../images/circle-chevron-down.svg');
        position: absolute;
        right: .5em;
        top: 50%;
        transform: translateY(-50%);
        width: 1em;
        height: 1em;
        pointer-events: none;
        filter: invert(36%) sepia(63%) saturate(6710%) hue-rotate(205deg) brightness(106%) contrast(102%);
    }
}

/*
NODE STYLES
*/

.node {
    border-radius: 50%;
    z-index: 90;
    transform: translate(-50%, -50%);
    aspect-ratio: 1;
    position: absolute;
    transition: 200ms;
}

.personNode {
    background-color: blue;
    background-repeat: no-repeat;
    background-size: contain;
    overflow: hidden;

    &.selected {
        border: 2px solid orange;
    }
}

.postNode {
    background-color: red;
}

/* the person nodes that are not selected */
.canvas-container:has(.personNode.selected) .personNode:not(.selected) {
    background-color: color-mix(in srgb, blue, #d9dfe2 50%);

    &::after {
        content: "";
        position: absolute;
        inset: 0;
        background-color: #d9dfe2;
        opacity: 50%;
    }

    &:hover {
        &::after {
            display: none;
        }
    }
}

.postNode.selected {
    background-color: color-mix(in srgb, red, #d9dfe2 50%);
}

/* LINK STYLES */

.linkStripe {
    transform-origin: center left;
    height: 1px;

    &.info-link {
        background-color: #0075ff;
        animation: shoot 1s linear;
    }

    &.friend-link {
        background-color: #00b000;
        animation: shoot 1s linear;
    }

    &.item-link {
        background-color: #ff9900;
        animation: shoot 1s linear;
    }

    &.pre-link {
        background-color: #999;
    }
}
@keyframes shoot {
    from {
        scale: 0;
    }
    to {
        scale: 1;
    }
}

.pre-link {
    opacity: 0;
}
.canvas-container:hover .pre-link {
    opacity: 1;
}

/* pre link als een persoon wordt gehovered */
.canvas-container:has(.personNode:hover) {
    & .pre-link {
        background-color: #00b000;
        height: 2px;
    }
}

/* pre link als een post wordt gehovered */
.canvas-container:has(.postNode:hover) {
    & .pre-link {
        background-color: #ff9900;
        height: 2px;
    }
}

label:has(input[type="radio"]:checked) {
    background-color: rgba(0, 117, 255, 0.3);
}

input[type="radio"] {
    position: absolute;
    left: -9999px;
}

/* 
LEGEND STYLES
*/

.legend {
    flex-direction: column;
    padding-block: 0.75em;
    padding-inline: 1em;
    background-color: white;
    border-radius: 0.75rem;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    top: 0;
    display: flex;
    gap: 0.5em;
    flex-direction: column;
    h2 {
        font-size: 1em;
    }
    & ul {
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
        & li {
            font-family: system-ui;
            list-style: none;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.5em;
            & span {
                height: 3px;
                width: 100%;
            }
            & .friendLink {
                background-color: #00b000;
            }
            & .dataLink {
                background-color: blue;
            }
            & .likedLink {
                background-color: #ff9900;
            }
        }
    }
}

/* 
CALCULATE STYLES
*/

.calculated {
    grid-column: 2 / 3;
    grid-row: 3 / 5;
    background-color: white;
    flex-direction: column;
    padding-block: 0.75em;
    padding-inline: 1em;
    border-radius: 0.75rem;
    top: 0;
    display: flex;
    gap: 0.5em;
    flex-direction: column;
    & h2 {
        font-size: 1em;
    }
}

/*
PHONE STYLES
*/

.phone {
    grid-column: 2 / 2;
    grid-row: 1 / 2;
    width: 100%;
    justify-self: right;
    align-self: end;
    position: relative;
    aspect-ratio: 272 / 554;
    border: 0.5em solid #234;
    border-radius: 28px;
    overflow: hidden;
    opacity: 0;
    transition: 200ms;
    transform: translate(6%, 0);
    
}

.phone-selected {
    opacity: 1;
    transform: translate(0, 0);
}

.phone-border {
    width: -webkit-fill-available;
    grid-column: 2 / 2;
    grid-row: 2 / 3;
    pointer-events: none;
    position: absolute;
    inset: 0;
    z-index: 100;
}

.phone-status-bar {
    width: 100%;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5em;
    padding: .25em 1em .25em 1em;
}


.phoneIcon{
    grid-column: 3 / 3;
    grid-row: 1 / 1;
}


/*
FAKEBOOK STYLES
*/

.fakebook {
    grid-column: 2 / 2;
    grid-row: 2 / 3;

    display: flex;
    flex-direction: column;

    column-gap: 1em;
    row-gap: 1rem;

    background-color: white;

    width: 100%;
    aspect-ratio: 1 / 2.08;
    overflow-y: auto;

    padding: 0.5em;
    padding-bottom: 5em;

    &::-webkit-scrollbar {
        display: none;
    }

    & h3 {
        padding: 0.5rem;
        font-size: 1.2rem;
        margin: 0;
    }

    & > div:nth-of-type(1) {
        & > p:nth-of-type(1) {
            padding-top: 0;
        }

        & p,
        label {
            padding: 0em;
            padding-block: 0.4em;
        }
        & p span {
            color: #0075ff;
            font-weight: 700;
            font-family: system-ui;
        }
        & label {
            display: block;
            padding-bottom: 0;
        }
    }

    & > button {
        margin-bottom: 0;
        padding: 0.5em 1em;
        align-self: end;
        height: fit-content;
    }
}

.fakebook-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.5em;
    gap: 0.5em;

    & h2 {
        margin-right: auto;
    }

    & button {
        background-color: transparent;
        padding: 0.5em;
        display: grid;
        place-items: center;
    }
}



.phone nav {
    display: flex;
    position: absolute;
    gap: 1rem;
    list-style: none;
    padding: 0.25rem 0 0.5rem 0;
    justify-content: center;
    background-color: #0075ff;
    color: white;
    bottom: 0;
    right: 0;
    left: 0;

    & ul {
        display: flex;
        justify-content: space-around;
        list-style: none;
        padding: 0;
        margin: 0;
        gap: 1rem;
    }

    & button {
        padding: 0;
        box-shadow: none;
    }

    & button.active {
        --background-color: #ffffff 20%;
    }
}

.friends,
.liked,
.profile {
    display: none;
}

.fakebook-profile {
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    text-align: center;
    justify-items: center;
    gap: 0.5em;

    & > img {
        width: 4rem;
        aspect-ratio: 1;
        border-radius: 50%;
        border: solid black 1px;
    }

    & > div {
        grid-column: 1/-1;
    }

    & button {
        color: black;
        background-color: transparent;
        padding: 0;

        & img {
            height: auto;
            width: auto;
            border: none;
        }
    }

    & .username {
        margin-bottom: 0.5em;
        font-weight: bold;
    }

    & .user-data {
        display: grid;
        grid-template-columns: max-content max-content;
        column-gap: 1em;

        & span {
            font-weight: bold;
            color: #0966ff;
        }
    }
}

.fakebook ul {
    background-color: grey;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 1px;
    padding-block: 1px;
    list-style: none;

    & li {
        background-color: white;
    }
}

.fakebook .section-heading {
    text-align: left;
    display: flex;
    justify-content: space-between;

    & button {
        display: flex;
        background-color: transparent;
        padding: .25em;
        color: #0075ff;
        align-items: center;
    }
}

.friends {

    & > button{
        display: flex;
        align-items: center;
        justify-content: end;
        flex: auto;
        color: var(--background-color);
        padding-right: 0.5rem;

        & img {
            border: none;
            height: 2rem;
            width: 2rem;
        }
    }

    & li {
        display: grid;
        grid-template-columns: 3rem 1fr;
        column-gap: 1rem;
        padding: 0.5rem;

        & img {
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
            grid-column: 1 / 2;
            grid-row: 1 / 3;
        }
    
        & p {
            grid-column: 2 / 2;
            grid-row: 1 / 2;
            padding: 0;
        }

        & div {
            grid-column: 2 / 2;
            grid-row: 2 / 2;
            display: flex;
            gap: 0.5rem;
        }

        & button {
            padding: 0;
            color: red;
            background-color: transparent;
            text-decoration: underline;
        }
    }
}

.feed, .liked {

    & li {

        & .post-heading {
            padding: .5em;
            text-align: left;
        }

        & .post-image {
            width: 100%;
        }

        & .post-options {
            display: flex;
            gap: .5em;
            padding: .5em;

            & div {
                display: flex;
                align-items: center;
                margin-left: auto;
                gap: .5em;
            }

            & button {
                --background-color: transparent;
                padding: 0;
                box-shadow: none;
            }
        }
    }
}

/* .like-button{
    & svg{
        fill: transparent;
        transition: fill 0.3s ease;
        stroke: #000000;
    }
}

.like-button.clicked svg {
    fill: red;
} */

.like-button svg {
    fill: transparent;
    transition: fill 0.3s ease;
    stroke: #000000;
    pointer-events: none;
}

.like-button:hover, .like-button:active {
    box-shadow: none;
}
   

.like-button.active svg{
    fill: red;
    stroke: red;
    animation: like 0.3s ease;
}

@keyframes like {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(2);
    }
    100% {
        transform: scale(1);
    }
}



.delete-button {
    --background-color: #d70000;
}

/* account  */

.selectedProfile {
    display: none;
}

.username {
    grid-column: 2 / 3;
}

.trait {
    display: flex;
    margin: 0.5em 0;
    gap: .5em;

    & p {
        padding: 0.25em 0;
    }

    & .select {
        width: 100%;
    }
}

.profileInfo {
    gap: 1rem;
    display: flex;
    flex-direction: column;
}

.fakeFollowers {
    display: flex;
    gap: 1em;
}
